<a href="https://colab.research.google.com/github/jdellison5/RQA-Options_Calcs/blob/master/RQA_Data_Master_Read_In.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [ ]:
import sys

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
base_path = "/content/gdrive/MyDrive/Colab Notebooks/"
#pd.read_excel(base_path+"00.  RQA Securities Data Master.xlsx",sheet_name='Asset Prices (Daily)')
#!ls = "/content/gdrive/MyDrive/Colab Notebooks/"
df = pq.read_table(base_path+"Securities_Master_Daily_wNaN.parquet")
df = df.to_pandas()

            S&P 500  Intl. Dev. Stocks  ...      ETH-USD    VXX
Date                                    ...
1985-12-31      NaN           6.766619  ...          NaN    NaN
1986-01-02      NaN           6.804462  ...          NaN    NaN
1986-01-03      NaN           6.849010  ...          NaN    NaN
1986-01-06      NaN           6.821706  ...          NaN    NaN
1986-01-07      NaN           6.779074  ...          NaN    NaN
...             ...                ...  ...          ...    ...
2021-07-12   437.08          79.900000  ...  2036.721069  29.24
2021-07-13   435.59          79.480000  ...  1940.083984  29.59
2021-07-14   436.24          79.660000  ...  1994.331299  28.91
2021-07-15   434.75          78.900000  ...  1911.175659  29.33
2021-07-16   431.34          78.320000  ...  1880.382935  30.55

[8959 rows x 28 columns]